##CS430 - Assignment 3

Gracie Bayer

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("/customer_data.csv")

In [3]:
data.head()

,label,id,fea_1,fea_2,fea_3,fea_4,fea_5,fea_6,fea_7,fea_8,fea_9,fea_10,fea_11
0,1,54982665,5,1245.5,3,77000.0,2,15,5,109,5,151300,244.948974
1,0,59004779,4,1277.0,1,113000.0,2,8,-1,100,3,341759,207.173840
2,0,58990862,7,1298.0,1,110000.0,2,11,-1,101,5,72001,1.000000
3,1,58995168,7,1335.5,1,151000.0,2,11,5,110,3,60084,1.000000
4,0,54987320,7,NaN,2,59000.0,2,11,5,108,4,450081,197.403141

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   1125 non-null   int64
 1   id      1125 non-null   int64
 2   fea_1   1125 non-null   int64
 3   fea_2   976 non-null    float64
 4   fea_3   1125 non-null   int64
 5   fea_4   1125 non-null   float64
 6   fea_5   1125 non-null   int64
 7   fea_6   1125 non-null   int64
 8   fea_7   1125 non-null   int64
 9   fea_8   1125 non-null   int64
 10  fea_9   1125 non-null   int64
 11  fea_10  1125 non-null   int64
 12  fea_11  1125 non-null   float64
dtypes: float64(3), int64(10)
memory usage: 114.4 KB

In [5]:
data=pd.get_dummies(data[['label','id','fea_1','fea_2','fea_3','fea_4','fea_5','fea_6','fea_7','fea_8','fea_9','fea_10','fea_11']],drop_first=True)

In [6]:
data.isna().sum()

label       0
id          0
fea_1       0
fea_2     149
fea_3       0
fea_4       0
fea_5       0
fea_6       0
fea_7       0
fea_8       0
fea_9       0
fea_10      0
fea_11      0
dtype: int64

In [7]:
data=data.drop(data[['id']],axis=1)

In [8]:
data.isnull().sum()

label       0
fea_1       0
fea_2     149
fea_3       0
fea_4       0
fea_5       0
fea_6       0
fea_7       0
fea_8       0
fea_9       0
fea_10      0
fea_11      0
dtype: int64

In [9]:
data=data.drop(data[['fea_2']],axis=1)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   1125 non-null   int64
 1   fea_1   1125 non-null   int64
 2   fea_3   1125 non-null   int64
 3   fea_4   1125 non-null   float64
 4   fea_5   1125 non-null   int64
 5   fea_6   1125 non-null   int64
 6   fea_7   1125 non-null   int64
 7   fea_8   1125 non-null   int64
 8   fea_9   1125 non-null   int64
 9   fea_10  1125 non-null   int64
 10  fea_11  1125 non-null   float64
dtypes: float64(2), int64(9)
memory usage: 96.8 KB

In [11]:
X=data.drop('label', axis=1)
y=data['label']

In [12]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fea_1   1125 non-null   int64
 1   fea_3   1125 non-null   int64
 2   fea_4   1125 non-null   float64
 3   fea_5   1125 non-null   int64
 4   fea_6   1125 non-null   int64
 5   fea_7   1125 non-null   int64
 6   fea_8   1125 non-null   int64
 7   fea_9   1125 non-null   int64
 8   fea_10  1125 non-null   int64
 9   fea_11  1125 non-null   float64
dtypes: float64(2), int64(8)
memory usage: 88.0 KB

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=.20, random_state=42)

In [14]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X)
X=scaler.transform(X)

In [15]:
from sklearn.linear_model import LogisticRegression
logistic_regressor=LogisticRegression(solver='liblinear', max_iter=100, random_state=0)
logistic_regressor.fit(X_train,y_train)

LogisticRegression(random_state=0, solver='liblinear')

In [16]:
HoldVal_score=logistic_regressor.score(X_test,y_test)
print(HoldVal_score)

0.7644444444444445

##Stratified K Fold Cross validation technique with SVC classifier

In [17]:
from sklearn.model_selection import StratifiedKFold
from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
SKFold=StratifiedKFold(n_splits=12)
logistic_regressor=LogisticRegression()
svc=svm.SVC()

In [18]:
svc=SVC(kernel='linear')
scores=cross_val_score(svc,X,y,cv=SKFold,scoring='accuracy') 
print(scores)

[0.79787234 0.79787234 0.79787234 0.79787234 0.79787234 0.79787234
 0.79787234 0.79787234 0.79787234 0.80645161 0.80645161 0.80645161]

In [19]:
mean_scores=np.mean(scores)
mean_scores

0.8000171585449554

##Repeated Random Subsampling technique with SVC classifier

In [20]:
from sklearn.model_selection import ShuffleSplit
logistic_regressor=LogisticRegression(solver='liblinear', max_iter=100, random_state=0)
ssplit=ShuffleSplit(n_splits=10, test_size=.15)
result_ssplit=cross_val_score(logistic_regressor,X,y,cv=ssplit)

In [21]:
result_ssplit

array([0.79289941, 0.76331361, 0.81065089, 0.84615385, 0.82840237,
       0.80473373, 0.76331361, 0.84023669, 0.81065089, 0.79881657])

In [22]:
ssplit_score=np.mean(result_ssplit)
print(ssplit_score)

0.8059171597633135

##Randomized search with Logistic Regressor

In [23]:
from sklearn.model_selection import RandomizedSearchCV
params={'solver':['lbfgs', 'liblinear'],
        'multi_class' :['auto', 'ovr', 'multinomial'],
        'C': [0.001,0.01,0.1,1,10,100,1000]}
clf=RandomizedSearchCV(logistic_regressor,params,cv=8,return_train_score=True,n_iter=7,random_state=42) 
clf.fit(X,y)
scores=clf.cv_results_['mean_test_score']
scores=np.mean(scores)

In [24]:
scores

0.7999999999999999

##Grid search with SVC classifier

In [25]:
from sklearn.linear_model import SGDRegressor,Lasso,LinearRegression

In [37]:
param= {'C':[0.1,1,10,100],
        'kernel':['rbf','linear','poly'],
        }

In [38]:
from sklearn.model_selection import GridSearchCV
search=GridSearchCV(estimator=svc,param_grid=param,verbose=4,cv=5)
search.fit(X,y)
search.cv_results_
sscores=search.cv_results_['mean_test_score']
print(sscores)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
[CV 1/5] END .................C=0.1, kernel=rbf;, score=0.800 total time=   0.0s
[CV 2/5] END .................C=0.1, kernel=rbf;, score=0.800 total time=   0.0s
[CV 3/5] END .................C=0.1, kernel=rbf;, score=0.800 total time=   0.0s
[CV 4/5] END .................C=0.1, kernel=rbf;, score=0.800 total time=   0.0s
[CV 5/5] END .................C=0.1, kernel=rbf;, score=0.800 total time=   0.0s
[CV 1/5] END ..............C=0.1, kernel=linear;, score=0.800 total time=   0.0s
[CV 2/5] END ..............C=0.1, kernel=linear;, score=0.800 total time=   0.0s
[CV 3/5] END ..............C=0.1, kernel=linear;, score=0.800 total time=   0.0s
[CV 4/5] END ..............C=0.1, kernel=linear;, score=0.800 total time=   0.0s
[CV 5/5] END ..............C=0.1, kernel=linear;, score=0.800 total time=   0.0s
[CV 1/5] END ................C=0.1, kernel=poly;, score=0.800 total time=   0.0s
[CV 2/5] END ................C=0.1, kernel=poly;, score=0.800 total time=   0.0s
[CV 3/5] END ................C=0.1, kernel=poly;, score=0.800 total time=   0.0s
[CV 4/5] END ................C=0.1, kernel=poly;, score=0.800 total time=   0.0s
[CV 5/5] END ................C=0.1, kernel=poly;, score=0.796 total time=   0.0s
[CV 1/5] END ...................C=1, kernel=rbf;, score=0.800 total time=   0.0s
[CV 2/5] END ...................C=1, kernel=rbf;, score=0.800 total time=   0.0s
[CV 3/5] END ...................C=1, kernel=rbf;, score=0.800 total time=   0.0s
[CV 4/5] END ...................C=1, kernel=rbf;, score=0.800 total time=   0.1s
[CV 5/5] END ...................C=1, kernel=rbf;, score=0.800 total time=   0.0s
[CV 1/5] END ................C=1, kernel=linear;, score=0.800 total time=   0.0s
[CV 2/5] END ................C=1, kernel=linear;, score=0.800 total time=   0.0s
[CV 3/5] END ................C=1, kernel=linear;, score=0.800 total time=   0.0s
[CV 4/5] END ................C=1, kernel=linear;, score=0.800 total time=   0.0s
[CV 5/5] END ................C=1, kernel=linear;, score=0.800 total time=   0.0s
[CV 1/5] END ..................C=1, kernel=poly;, score=0.800 total time=   0.0s
[CV 2/5] END ..................C=1, kernel=poly;, score=0.796 total time=   0.0s
[CV 3/5] END ..................C=1, kernel=poly;, score=0.800 total time=   0.0s
[CV 4/5] END ..................C=1, kernel=poly;, score=0.782 total time=   0.0s
[CV 5/5] END ..................C=1, kernel=poly;, score=0.796 total time=   0.0s
[CV 1/5] END ..................C=10, kernel=rbf;, score=0.791 total time=   0.1s
[CV 2/5] END ..................C=10, kernel=rbf;, score=0.800 total time=   0.1s
[CV 3/5] END ..................C=10, kernel=rbf;, score=0.778 total time=   0.1s
[CV 4/5] END ..................C=10, kernel=rbf;, score=0.769 total time=   0.0s
[CV 5/5] END ..................C=10, kernel=rbf;, score=0.778 total time=   0.1s
[CV 1/5] END ...............C=10, kernel=linear;, score=0.800 total time=   0.0s
[CV 2/5] END ...............C=10, kernel=linear;, score=0.800 total time=   0.0s
[CV 3/5] END ...............C=10, kernel=linear;, score=0.800 total time=   0.0s
[CV 4/5] END ...............C=10, kernel=linear;, score=0.800 total time=   0.0s
[CV 5/5] END ...............C=10, kernel=linear;, score=0.800 total time=   0.0s
[CV 1/5] END .................C=10, kernel=poly;, score=0.791 total time=   0.1s
[CV 2/5] END .................C=10, kernel=poly;, score=0.787 total time=   0.1s
[CV 3/5] END .................C=10, kernel=poly;, score=0.782 total time=   0.1s
[CV 4/5] END .................C=10, kernel=poly;, score=0.756 total time=   0.1s
[CV 5/5] END .................C=10, kernel=poly;, score=0.787 total time=   0.1s
[CV 1/5] END .................C=100, kernel=rbf;, score=0.778 total time=   0.1s
[CV 2/5] END .................C=100, kernel=rbf;, score=0.760 total time=   0.1s
[CV 3/5] END .................C=100, kernel=rbf;, score=0.698 total time=   0.1s
[CV 4/5] END .................C=100, kernel=rbf;, score=0.733 total time=   0.1s
[CV 5/5] END .................C=100, kernel=rbf;, score=0.751 total time=   0.1s
[CV 1/5] END ..............C=100, kernel=linear;, score=0.800 total time=  20.1s
[CV 2/5] END ..............C=100, kernel=linear;, score=0.800 total time=   0.4s
[CV 3/5] END ..............C=100, kernel=linear;, score=0.800 total time=   3.3s
[CV 4/5] END ..............C=100, kernel=linear;, score=0.800 total time=   2.5s
[CV 5/5] END ..............C=100, kernel=linear;, score=0.800 total time=   4.4s
[CV 1/5] END ................C=100, kernel=poly;, score=0.751 total time=   0.6s
[CV 2/5] END ................C=100, kernel=poly;, score=0.760 total time=   0.4s
[CV 3/5] END ................C=100, kernel=poly;, score=0.742 total time=   0.3s
[CV 4/5] END ................C=100, kernel=poly;, score=0.738 total time=   0.4s
[CV 5/5] END ................C=100, kernel=poly;, score=0.729 total time=   0.3s
[0.8        0.8        0.79911111 0.8        0.8        0.79466667
 0.78311111 0.8        0.78044444 0.744      0.8        0.744     ]

In [39]:
sscores=np.mean(sscores)

##PrettyTable

In [40]:
from prettytable import PrettyTable
myTable=PrettyTable(['Cross Validation Techniques','Classifier','Score'])
myTable.add_row(['Stratified K Fold','SVC',mean_scores])
myTable.add_row(['Repeated Random Subsampling','SVC',ssplit_score])
myTable.add_row(['Randomized search', 'Logistic Regressor',scores])
myTable.add_row(['Grid Search','SVC',sscores])

In [41]:
print(myTable)

+-----------------------------+--------------------+--------------------+
| Cross Validation Techniques |     Classifier     |       Score        |
+-----------------------------+--------------------+--------------------+
|      Stratified K Fold      |        SVC         | 0.8000171585449554 |
| Repeated Random Subsampling |        SVC         | 0.8059171597633135 |
|      Randomized search      | Logistic Regressor | 0.7999999999999999 |
|         Grid Search         |        SVC         | 0.787111111111111  |
+-----------------------------+--------------------+--------------------+

##Best Score

Repeated Random Subsampling score is the best score!